body {
    background-image: url('image/nen.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    width:100vw;
    left:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền của khung bao trùm */
    border-radius: 10px; /* Bo tròn góc của khung */
    padding: 20px; /* Khoảng cách từ nội dung đến mép của khung */
    text-align: center;
    backdrop-filter: blur(1px); /* Điều chỉnh bán kính mờ theo nhu cầu */
}

.boxcenter {
    font-family:sansita, cursive;
    font-size: 50px;
    color:azure
    
}

.btn-container {
    display: flex;
    gap: 10px; /* Khoảng cách giữa hai nút */
}